.card__pc {
  width: 244px;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
}

.card__mobile {
  width: 200px;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
}

.card__pc p {
  font-size: 18px;
}

.card__mobile p {
  font-size: 12px;
}
