.card {
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
}

.card.pc {
  width: 244px;
}

.card.sp {
  width: 200px;
}

.card.pc p {
  font-size: 18px;
  padding: 0px 8px;
}

.card.sp p {
  font-size: 12px;
  padding: 0px 8px;
}
